<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [text]="'general.back' | translate"
        defaultHref="/"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'habits.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <app-item-card
      icon="locate-outline"
      [disabled]="false"
      [title]="'WP1' | translate"
      [subtitle]="'Chen' | translate"
      (click)="navigateToWP1()"
    ></app-item-card>
    <app-item-card
      icon="locate-outline"
      [disabled]="false"
      [title]="'WP2' | translate"
      [subtitle]="'Andrade et. al.' | translate"
      (click)="navigateToWP2()"
    ></app-item-card>
    <app-item-card
      icon="locate-outline"
      [disabled]="false"
      [title]="'WP3' | translate"
      [subtitle]="'Map matching' | translate"
      (click)="navigateToWP3()"
    ></app-item-card>
  </ion-list>
</ion-content>
